<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link type="text/css" rel="stylesheet" href="stylesheet.css"> My .css file was not working: I resorted to inline :( -->
    <title>main_page</title>
  </head>
  <body style="background-color:#bfbfbf">

      <h1 style="font-family:Impact; color:#006100; text-decoration:underline;">MovieLens Database</h1>

      <h2>
          Check out the <a href='/top_20/'>Top 20 movies</a>!
      </h2>
      <p style="font-weight:bold">
        <br>
        Welcome to the MovieLens Database Project. We've taken way too many people, <br>
        and asked them to rate way too many movies. After collecting an absurdly large <br>
        dataset on the reviewers, the movies, and the individual ratings, we've made an<br>
        entire website for you to waste way too much time on.
      </p>

      <h3>
        Visit:
            <a href='/all_movies/'>All Movies</a>
            /
            <a href='/top_20/'>Top 20 movies</a>
            /
            <a href='/all_raters/'>Reviewers</a>
      </h3>

<!-- I copied this div from stackOverflow. -->
      <div style="position: relative; width: 300px; height: 400px;">

    <div style="position: absolute; bottom: 5px;">
    Serious Businessmen (C) 2010
    </div>
</div>


  </body>
</html>
